body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #8e44ad;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

nav {
    background-color: #732d91;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #8e44ad;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
